* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #b82c2c;
  
}
.navbar nav a {
  margin: 20px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 580;
  
}
.contact-info {
  font-size: 0.9em;
}

/* Hero Section */
.hero {
  background: url('https://t3.ftcdn.net/jpg/04/25/65/24/360_F_425652429_A311W0NFAGrxzsTtmOQEkczAl3d3GlYG.jpg') center/cover no-repeat;
  object-fit:cover;
  /* position: relative; */
  height: 90vh;
  color: white;
  
   align-items: center; 
   justify-content: center; 

}
.overlay {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  text-decoration: underline;
  /* margin-top: 30px; */

}
.hero h1 {
  font-size: 2.5rem;
  margin-right: 550px;
  font-size: 60px;
  margin-top: 5px;
}
.btn {
  background: #b82c2c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 10px;
}
/* hero section div */

.contact-form {
  background: white;
  color: black;
  /* margin-top: 0px; */
  padding: 15px;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  width: 340px;        
  margin-left: 1020px ;  
  border: 1px solid #8b2d2d;
}
.contact-form input, .contact-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Courses */
#h2{
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}
.courses {
  padding: 200px 10px;
  text-align: center;
}
.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.course {
  width: 400px;
  background: #f2e4c5;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding-bottom: 100px;
  border: 1px solid #8b2d2d;
}
.course img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit:cover;
}
.course h3 {
  margin: 10px 0;
}
.btn-small {
  background: #b82c2c;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 20px;
}

/* Categories */
.categories {
  padding: 40px;
  background: #f9f9f9;
  text-align: center;
}
.category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.category {
  background: rgb(232, 213, 167);
  border: 1px solid #8b2d2d;
  padding: 35px 45px;
  border-radius: 10px;
  font-weight: bolder;
  margin-top: 35px;
}
.category span {
  display: block;
  font-size: 0.8em;
  color: gray;
}

/* Features */
.features {
  padding: 50px;
  text-align: center;
}
.feature-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.feature {
  background: #e5a5a5;
  border: 1px solid #0b0b0b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin-top: 35px;
}

/* News */
.news {
  padding: 50px 20px;
  text-align: center;
}
.news-card {
  display: inline-block;
  width: 320px;
  text-align: left;
  border: 1px solid #e9acac;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 35px;
}
.news-card img {
  width: 100%;
}
.news-content {
  padding: 15px;
}

/* Footer */
footer {
  background: #b82c2c;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}